<html>
<head>
    <title>
        Search Publishers
    </title>
</head>
<body>
<center>
    <form action="/bookform/" method="get">
        <table border="0px">
            {% for field in form.visible_fields %}
            <tr>
                <td><h4>{{field.label_tag}}</h4></td>
                <td>{{field}}</td>
            </tr>
            {%endfor%}
        </table>
        <input type="submit" value="submit"/>
    </form>
</center>
</body>
</html>