{% extends 'base.html' %}
{% block content %}
<center>
    <h3>Login</h3><br>
    <form action="/login/" method="get">
        <input type="text" name="uname" placeholder="Enter username" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <input type="submit" value="Login">
    </form>
</center>
{% endblock %}
