{% extends 'base.html' %}
{% block content %}
<center>
    <h3>Search Publisher</h3><br>
    <form action="/search_publisher/" method="get">
        {%csrf_token%}
        <input type="text" name="q" placeholder="Enter the publiser name" required/>
        <input type="submit" value="search"/>
    </form>
    <hr>
    {% if publisher_data %}
    <form action="/change_pub_data/" method="get">
        {%csrf_token%}
        <h4><u>Name</u> : <input type="text" value={{publisher_data.name}} name="name"/> </h4>
        <h4><u>Address</u> : <input type="text" value={{publisher_data.address}} name="address"/></h4>
        <h4><u>City</u> : <input type="text" value={{publisher_data.city}} name="city"/></h4>
        <h4><u>State</u> : <input type="text" value={{publisher_data.state_province}} name="state"/></h4>
        <h4><u>Country</u> : <input type="text" value={{publisher_data.country}} name="country"/></h4>
        <h4><u>Website</u> : <a href={{publisher_data.website}}/>{{publisher_data.website}}</h4>
        <input type="submit" value="update"/>
    </form>
    {% endif %}
    {% if message %}
    <br>
    {{message}}
    {% endif %}
    <a href='/logout/'><button value="Logout">Logout</button></a>
</center>
{% endblock %}