<html>
<head>
    <title>
        set cookie
    </title>
</head>
<body bgcolor={{request.COOKIES.fav_color}}>
<center>
    <h3>Cookie example</h3><br>
    <form action="/set_color/" method="get">
        <input type="text" name="fav_color" placeholder="Enter your fav color" required>
        <input type="submit" value="Set Color">
    </form>
</center>
</body>
</html>