{% extends 'base.html' %}
{% block content %}
<center>
    <h3>Login</h3><br>
    <form action="/upload_img/" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="file" name="pic" id="pic">
        <input type="submit" value="Upload">
    </form>
</center>
{% endblock %}